COSMOS_ENDPOINT = "https://USERNAME.documents.azure.com:443/"
COSMOS_KEY = "key=bhsriugbeisbjfgkjlsg=="
AZURE_STORAGE_CONNECTION_STRING = "BlobEndpoint=https://USER.blob.core.windows.net/;QueueEndpoint=https://USER.queue.core.windows.net/;FileEndpoint=https://USER.file.core.windows.net/;TableEndpoint=https://USER.table.core.windows.net/;SharedAccessSignature=sv=2025-11-05&ss=bfqt&srt=sco&sp=rwdlacupiytfx&se=2026-04-24T15:06:46Z&st=2026-04-17T06:51:46Z&spr=https,http&sig=kewfoowiejfsdfln%3D"
COSMOS_DATABASE = "RideauCanalDB"
COSMOS_CONTAINER = "SensorAggregations"
BLOB_CONTAINER="historical-data"